html{
	font-family: sans-serif;
	font-size: 1em;
	line-height: 1.4;
}
body{
	background: #56af34;
	height: 100%;
	margin: 0;
}
ol,
ul{
	color: #959595;
	text-align: justify;
}
h4{
	line-height: 100%;
	color: white;
}
p{
	color: #959595;
}
h5{
	color: #535353;
	font-weight: normal;
	font-style: italic;
	position: relative;
	bottom: 1em;
	line-height: 100%;
}
#suggestion-txt{
	margin: 0;
	padding: 1em 0em 1em 0em;
}
.headdiv{
	margin: auto;
	text-align: center;
	color: #454545;
	font-size: 1em;
}
.black-trans{
	opacity: 0.7;
	color: black;
}
.maindiv{
	position: absolute;
	display: block;
	width: 100%;
	top: 10%;
	height: 80%;
}
.middiv{
	position: relative;
	width: 100%;
	height: 100%;
}
.card-container,
.count-container,
.help-container,
.settings-container,
.footmid-container{
	position: absolute;
	left: 0;
	right: 0;
	background-image: url('/img/b70pix.png');
	border-radius: 1em;
	width: 70%;
	text-align: center;
	margin: auto;
	position: relative;
}
.card-container{
	position: absolute;
	cursor: pointer;
	word-wrap: break-word;
	padding: 4em 2em 3em 2em;
	height: 13em;
	max-width: 40em;
	max-height: 60%;
	z-index: 1;
}
.help-container,
.settings-container{
	z-index: 2;
	background: black;
	position: relative;
	left:0;
	right:0;
	width: 82%;
	display: block;
	top: 0;
	padding: 2em 1.5em 2em 1.5em;
	height: 60%;
	max-width: 50em;
	cursor: pointer;
	max-height: 40em;
}
.scroll-container{
	z-index: 3;
	overflow-y: auto;
	height: 100%;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
.scroll-container::-webkit-scrollbar{
	display: none;
}
.footmid-container{
	display: block;
	margin-top: 0.5em;
	width: 10em;
}
.helpNsetts{
	height: 50em;
	max-height: 100%;
	position: absolute;
	left: 0;
	right: 0;
}
.cardtitle{
	font-weight: bold;
	font-size: 4em;
	line-height: 100%;
	margin: 0;
}
.carddesc{
	margin-top: 2em;
}
.footdiv{
	position: fixed;
	z-index: 4;
	bottom: 1em;
	width: 100%;
	height: 4em;
	margin: 0;
	padding: 0;
}
.foot-left,
.foot-mid,
.foot-right{
	min-width: 4em;
	position: absolute;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	width: 30%;
}
.foot-mid{
	text-align: center;
	z-index: -1;
	width: 100%;
}
.foot-right{
	right: 0;
}
.count-outer{
	text-align: center;
	width: 100%;
}
.count-container{
	display: inline-block;
	width: auto;
}
.foottext{
	color: white;
	font-size: 1.5em;
	margin: 0.3em 0.7em 0.3em 0.7em;
}
.icon{
	cursor: pointer;
	margin: auto;
	padding: 0;
	width: 4em;
	height: 4em;
	border-radius: 50%;
	text-align: center;
	background-image: url('/img/b70pix.png'); 
}
.icon:hover,
.card-container:hover,
.help-container:hover,
.hover-animate:hover{
	background: black;
}
.icon:hover,
.hover-animate:hover{
	-webkit-transform: scale(1.2,1.2);
	-moz-transform: scale(1.2,1.2);
	transform: scale(1.2,1.2);
}

.card-container:hover{
	-webkit-transform: scale(1.1,1.1);
	-moz-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);
}
a:visited,
a:link,
a:active{
	text-decoration: none;
	color: white;
}
.ads-side-l,
.ads-side-r{
	position: fixed;
	left: 2%;
	top: 8%;
	width: 160px;
	height: 600px;
}
.ads-side-r{
	left: auto;
	right: 2%;
}

@media screen and (max-width: 480px){
	.cardtitle{
		font-size: 3.5em;
	}
	.maindiv{
		top: 5%;
	}
	.carddesc{
		margin-top: 1em;
	}
	.help-container,
	.settings-container{
		position: relative;
		padding: 1em;
		width: 80%;
		height: 80%;
		min-height: 15em;
		margin-top: 0em;
	}
	.card-container{
		height: 70%;
		max-height: 13em;
		min-height: 4em;
		padding: 1em;
		width: 80%;
		margin-top: 0em;
	}
	h5{
		font-size: 0.6em;
		bottom: 1.5em;
	}
	a.footmid-container{
		width: 9em;
	}
}
@media screen and (max-height: 445px){
	.footdiv{
		display: none;
	}
	.maindiv{
		top: 10%;
	}
}
@media screen and (max-width: 1070px), screen and (max-height: 740px){
	.ads-side-l,
	.ads-side-r{
		display:none;
	}
}