<ul class="games-ul">
<li>
	<div class="games-li-div" >
		<input type="checkbox" name="accordion" id="accordion_howto" class="games-li-input"/>
		<label for="accordion_howto" class="games-li-label"></label>
		<div class="games-li-head">
			<div class="games-li-name">What is AlcoLoL?</div>
			<i class="fa fa-chevron-right fa-inverse expand-pointer"></i>
		</div>	
		<div class="games-li-body">
			<div howto-directive class="left-align"></div>
		</div>
	</div>
</li>
<li ng-repeat="title in titles">
	<div class="games-li-div" >
		<input type="checkbox" name="accordion" id="accordion_{{title}}" class="games-li-input"/>
		<label for="accordion_{{title}}" class="games-li-label"></label>	
		<div class="games-li-head">
			<span class="games-li-count">{{$index + 1}}.</span>
			<div class="games-li-name">{{title}}</div>
			<i class="fa fa-chevron-right fa-inverse expand-pointer"></i>
		</div>
		<div class="games-li-body">
			<p>{{descriptions[$index]}}</p>
		</div>
	</div>
</li>
</ul>