<h4>What is AlcoLoL??</h4>
<p>AlcoLoL is a social drinking game. It's simple, quick and it gets the party started FAST! So get your buddies together and try it out!</p>
<h4>OK, everyone's here. What now?</h4>
<ol>
	<li>Everyone gets a drink.</li>
	<li>AlcoLoL is played in turns. When it's your turn, you click the black box in the middle or press the spacebar to get your task.</li>
	<li>There are different types of tasks - some will make you drink, some will make others drink and some will be games that everyone plays together.</li>
	<li>Almost all tasks will result in someone taking a sip of their drink.</li>
</ol>
<p>And that's it! You take turns until you need to take a break. (be sure to stop if you feel sick!)</p>
<h4>Got it! Any other tips?</h4>
<ul>
	<li>Make sure everyone gets refills as needed.</li>
	<li>Most games are played in turns - it goes around until someone messes up.</li> 
	<li>Switch to fullscreen (F11), it looks awesome!</li>
	<li>Use CTRL and + or - to increase or decrease size.</li>
	<li>Be fair - drink when you should and don't force others to drink more than they feel like.</li>
	<li>Most games have different versions. Adjust the rules so they suit your group! Don't get hooked on details!</li>
	<li>Remember, this is a game so HAVE FUN!</li>
</ul>
<h4>DRINK RESPONSIBLY!</h4>
<p>I am not liable for any damage or harm you cause while playing this game.</p>