<p>AlcoLoL is a social drinking game. It's simple, quick and it gets the party started FAST! So get your buddies together and try it out!</p>
<h4>OK, everyone's here. What now?</h4>
<ol>
	<li>Everyone gets a drink.</li>
	<li>AlcoLoL is played in turns. When it's your turn, you click the black box in the middle or press the spacebar to get your task.</li>
	<li>Just do what it says. Explainations for individual games are below.</li>
	<li>Almost all tasks will result in someone taking a sip of their drink.</li>
</ol>
<p>And that's it! You take turns until you feel like you need a break. (be sure to stop if you feel sick!)</p>
<h4>Got it! Any pro-tips?</h4>
<ul>
	<li>Make sure everyone gets refills as needed.</li>
	<li>Most games are played in turns - it goes around until someone messes up.</li>
	<li>Use CTRL and + or - to increase or decrease size.</li>
	<li>Be fair - drink when you should and don't force others to drink more than they feel like.</li>
	<li>Most games have different versions. Adjust the rules so they suit your group! Don't get hooked on details!</li>
	<li><h4>KNOW YOUR LIMIT!</h4></li>
	<li><h4>DRINK RESPONSIBLY!</h4></li>
	<li><h4>HAVE FUN!</h4></li>
</ul>
<p>Below you will find more detailed instructions on how to play all the games, along with examples and improvements. Note, that there are many different ways to play these games and the version you are used to may differ from the one described here. Treat these rules more like general guidelines and adjust the games according to your needs and preferences.</p>
