<div class="maindiv">
	<div ng-click="draw()" ng-show="hidehelp && hidesetts" class="card-container">
		<div class="scroll-container">
			<h4 class="cardtitle">{{cardtitle}}</h4>
			<p class="carddesc">{{carddesc}}</p>
		</div>
	</div>
<div ng-hide="hidehelp" help-directive></div>
<div ng-hide="hidesetts" sett-directive></div>
</div>

<div class="footdiv">
	<div class="foot-left">
			<div class="icon" ng-click="switchhelp()">
				<i class="fa fa-question fa-stack fa-2x fa-inverse"></i>
			</div>
	</div>
	<div class="foot-mid">
		<div class="count-outer">
		<div class="count-container">
			<p class="foottext">- {{cardcount}} -</p>
		</div>
		</div>
	</div>
	<div class="foot-right">
		<div class="icon" ng-click="switchsetts()">
			<i class="fa fa-cogs fa-stack fa-2x fa-inverse"></i>
		</div>
	</div>
</div>
