<div ng-click="draw()" class="card-container">
	<p class="cardtitle">{{cardtitle}}</p>
	<p class="carddesc">{{carddesc}}</p>
</div>

<div ng-hide="hidehelp" help-directive></div>
<div ng-hide="hidesetts" sett-directive></div>

<div class="footdiv">
	<div class="foot-left">
			<div class="icon" ng-click="switchhelp()">
				<i class="fa fa-question fa-stack fa-2x fa-inverse"></i>
			</div>
	</div>
	<div class="foot-mid">
		<div class="count-outer">
		<div class="count-container">
			<p class="foottext">- {{cardcount}} -</p>
		</div>
		</div>
	</div>
	<div class="foot-right">
		<div class="icon" ng-click="switchsetts()">
			<i class="fa fa-cogs fa-stack fa-2x fa-inverse"></i>
		</div>
	</div>
</div>