	<div class="puzzlespage">
		<p> The contents of this page will spoil the puzzles for you. Hover over the text if you wish to see it (or tap it on mobile).</p>
		<h4>Hitchhiking</h4>
		<p tabindex="1" class="spoiler" ng-click="">You name things you will take with you. The trick is in naming only thing that start with the first letter of your name. So if your name is John, you can bring a jumper or a jacket, but you can't bring any trousers or a knife.</p>

		<h4>Green Glass Door</h4>
		<p tabindex="2" class="spoiler" ng-click="">You name things you will take with you on a trip. The trick is in naming only things that contain double letters, like glass, door or beer.</p>
		
		<h4>Who has the hat?</h4>
		<p tabindex="3" class="spoiler" ng-click="">The first person describes how players pass an imaginary hat, and in the end asks who has the hat, e.g. "I have the hat. I pass it to John, who gives it to Eddie and he passes it on to Cassy. Who has the Hat?" The first player to speak after the question is the one who has the hat. The passing that is described has no meaning, other than to throw people off. Let others describe how the hat travels as well, even if they don't know what the joke is.</p>

		<h4>This is the perfect circle</h4>
		<p tabindex="4" class="spoiler" ng-click="">The first player: "This is a perfect circle." (draws a circle with his finger) "Here!" (makes a gesture as if to pass something on to the next person) The next one says "Thank you, that was a perfect circle. This is also a perfect circle. *draws* Here you go." and again passes to the next one. The trick is in thanking the previous player and passing the right to speak to the next person. If a player didn't do those things, his "circle" wasn't "perfect" and the next player (if he knows the trick) can point that out by saying "That wasn't a perfect circle! THIS is a perfect Circle..." What you draw in the air doesn't have to be a circle, just be sure to thank and pass on.</p>
	</div>